doctype html
html(lang='en')
  include ../common/head.pug
  +head('Log In')
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row
          .col-sm-12.offset-md-2.col-md-8
            .jumbotron
                h2.text-center Login
                .row
                    .col-sm-12.col-md-12
                        form(method='POST' action='/login')
                            .formgroup
                                label.small.mb-1.mt-3 Email:
                                input(placeholder='Enter your email', required=true, name='email', type='email', value='').form-control
                                label.small.mb-1.mt-3 Password:
                                input(placeholder='Enter your current Password', required='true', name='password', type='password', value='').form-control
                                button.mt-3.btn-primary(type='submit') Log In
<<<<<<< HEAD
                                p.mt-2.mb-0
                                    | Forgot your password? #[a(href='#') Reset here]
                                p.mb-0
                                    | Already have an account? #[a(href='/login') Log in here]
=======
                        form(method='GET' action='/facebook')
                          .formgroup
                            button.loginBtn.loginBtnFacebook(type='submit') Login with Facebook
                        form(method='GET' action='/google')
                          .formgroup
                            button.loginBtn.loginBtnGoogle(type='submit') Login with Google
                        p.mt-2.mb-0
                            | Forgot your password? #[a(href='#') Reset here]
                        p.mb-0
                            | Already have an account? #[a(href='/login') Log in here]
>>>>>>> 2f1e07c6bc5247b72353378e3b75663653f793c5
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
  
